.allCheckButton{
    background-color: rgb(218, 31, 31);
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 10px;
    padding: 5px 10px;
    margin: 5px; 
    display: none;
}

