.title1{
    color: rgb(22, 73, 104);
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    
  }
  .list-container {
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    overflow-y: auto; /* Taşma durumunda kaydırma */
    margin-top: 20px;
  }
  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(123, 218, 239);
    border-radius: 5px; /* Kenar yuvarlama */
    padding: 10px; /* İç boşluk */
    margin: 5px 0; /* Dikey boşluk */
  }