body{
  background-color: rgb(41, 136, 167) !important; /* ✅ Öncelik vermek için !important ekle */
  height: 100vh; /* ✅ Sayfanın tamamını kapsaması için */
  margin: 0; /* ✅ Varsayılan boşlukları kaldır */
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  border-width: 1;
  border-color: rgb(10, 105, 168);
  background-color: white;
  width: 350px;
  height: 30px;
  color: black;

}
.addContainer{
  display: flex;
  flex-direction: row;
  justify-self: center;
}
.addButton{
  background-color: rgb(41, 136, 167);
  margin-left: 10px;
  border-radius: 0%;
  width: 60px;
  height: 35px;

}